# GENERAL

PORT = 3001
SERVER_DOMAIN = 'http://localhost:3001'
CLIENT_DOMAIN = 'http://localhost:3000'
CLIENT_OAUTH_CALLBACK = 'http://localhost:3000/api/auth/callback'


# DB

DATABASE_URL = 'mysql://USER:PASSWORD@HOST:PORT/DATABASE'
USER_DEFAULT_IMG_PATH = 'https://res.cloudinary.com/*.jpg'

# JWT TOKENS

accessKey = 'accessKey'
refreshKey = 'refreshKey'
expiresIn = 3600

# GOOGLE

GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =

# GITHUB

GITHUB_CLIENT_ID =
GOOGLE_CLIENT_SECRET =

# CLOUDINARY

CLOUDINARY_CLOUD_NAME = 'name'
CLOUDINARY_API_KEY = 123456789
CLOUDINARY_API_SECRET = 'secret'
